.form-horizontal  {
  margin-top:150px;
  .control-group{
    height:48px;
    font-size: 24px;
    line-height: 30px;
    margin-left: 240px;
    width: 700px;
        input{
          width: 242px;
          height: 36px;
          -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;
          border:1px solid #ccc;
        }
    .diamond{
      width: 140px;
    }
    .add-diamond{
      display: inline-block;
      width: 28px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 18px;
      color: #999;
      cursor: pointer;
      border: 1px solid #e6e6e6;
    }
    input:focus{
          outline: none;
          box-shadow: none;
          border:1px solid #ccc;
        }
    .set-dice-num{
      display: inline-block;
      width: 80px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 18px;
      color: #999;
      cursor: pointer;
      border: 1px solid #e6e6e6;
      position: relative;
      .set-num-box{
        position:absolute ;
        background: #fcfcfc;
        width: 220px;
        height: 160px;
        line-height: 40px;
        top: 28px;
        left: 0;
        border: 1px solid #e6e6e6;
        z-index: 2;
        .set-num-list{
          padding: 20px;
          height: 120px;
          width: 180px;
          .set-num-item{
            width: 38px;
            height: 38px;
            background: #28cfcf;
            border-radius: 50%;
            text-align: center;
            line-height: 38px;
            color: #fff;
            float: left;
            margin: 10px 10px;
          }
        }
      }
    }
    .hide-dot-list{
      .set-num-box{
        display: none;
      }
    }
    .set-dice-user{
        color:#333;
    }
  }

}
.andr-qrcode-cont{
  .andr-qrcode-cont__btn{
    text-align: center;
    width: 164px;
    padding: 0;
  }
}
.mask-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  top: 0;
  left: 0;
}
.popupCont {
  width: 500px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:-144px;
  margin-left: -250px;
  .btnCancel {
    background: #BDC3CF;
  }
  figure img {
    float: right;
    //margin: 17px 21px 27px 0;
    margin-right: 60px;
    cursor: pointer;
  }
  .closePopup{
    display: block;
    height: 20px;
    width: 100%;
  }
  .content {
    font-size: 16px;
    color: #333;
    line-height: 16px;
    margin-bottom: 50px;
    width: 100%;
  }
  .title{
    font-size: 16px;
    color: #333;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .button{
    font-size: 0;
  }
  aside{
    margin: 0 auto;
    text-align: center;
    width: 500px;
    height:auto;
  }
  button{
    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 15px;
    color: #FFF;
    border-radius: 4px;
    -webkit-appearance: none;
    outline: medium;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;

  }
  .btnEnter {
    background: #2899E6;
    margin: 0 auto;
  }
}