.form-horizontal  {
  margin-top:150px;
  .control-group{
    height:48px;
    font-size: 24px;
    line-height: 30px;
    margin-left: 240px;
    width: 700px;
        input{
          width: 242px;
          height: 36px;
          -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;
          border:1px solid #ccc;
        }
    .diamond{
      width: 140px;
    }
    .add-diamond{
      display: inline-block;
      width: 28px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 18px;
      color: #999;
      cursor: pointer;
      border: 1px solid #e6e6e6;
    }
    input:focus{
          outline: none;
          box-shadow: none;
          border:1px solid #ccc;
        }
    .set-dice-num{
      display: inline-block;
      width: 80px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 18px;
      color: #999;
      cursor: pointer;
      border: 1px solid #e6e6e6;
      position: relative;
      .set-num-box{
        position:absolute ;
        background: #fcfcfc;
        width: 220px;
        height: 160px;
        line-height: 40px;
        top: 28px;
        left: 0;
        border: 1px solid #e6e6e6;
        z-index: 2;
        .set-num-list{
          padding: 20px;
          height: 120px;
          width: 180px;
          .set-num-item{
            width: 38px;
            height: 38px;
            background: #28cfcf;
            border-radius: 50%;
            text-align: center;
            line-height: 38px;
            color: #fff;
            float: left;
            margin: 10px 10px;
          }
        }
      }
    }
    .hide-dot-list{
      .set-num-box{
        display: none;
      }
    }
    .set-dice-user{
        color:#333;
    }
  }

}
.andr-qrcode-cont{
  .andr-qrcode-cont__btn{
    text-align: center;
    width: 164px;
    padding: 0;
  }
}
.mask-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  top: 0;
  left: 0;
}
.popupCont {
  width: 500px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:-144px;
  margin-left: -250px;
  .btnCancel {
    background: #BDC3CF;
  }
  figure img {
    float: right;
    //margin: 17px 21px 27px 0;
    margin-right: 60px;
    cursor: pointer;
  }
  .closePopup{
    display: block;
    height: 20px;
    width: 100%;
  }
  .content {
    font-size: 16px;
    color: #333;
    line-height: 16px;
    margin-bottom: 50px;
    width: 100%;
  }
  .title{
    font-size: 16px;
    color: #333;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .button{
    font-size: 0;
  }
  aside{
    margin: 0 auto;
    text-align: center;
    width: 500px;
    height:auto;
  }
  button{
    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 15px;
    color: #FFF;
    border-radius: 4px;
    -webkit-appearance: none;
    outline: medium;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;

  }
  .btnEnter {
    background: #2899E6;
    margin: 0 auto;
  }
}
.recharge-login{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  .recharge-login-container{
    width: 393px;
    height: 448px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -197px;
    margin-top: -224px;
    border: 1px solid #333;
    background-color: #fcfcfc;
    .recharge-login-header{
      padding: 15px;
      //height: 47px;
      background-color: #f7f7f7;
      border: 1px solid #ddd;
      border-width: 1px 1px 0;
      border-bottom: 0;
      //width: auto;
      height: 18px;
      font-size: 16px;
      font-family: 宋体;
      font-weight: 700;
      color: rgb(102, 102, 102);
      display: block;
      text-overflow: ellipsis;
      text-align: left;
      box-sizing: content-box;
      //background: -webkit-image-set(url(https://passport.baidu.com/passApi/img/baidu_logo_24.png) 1x, url(https://passport.baidu.com/passApi/img/baidu_logo_48.png) 2x) 18px 8px no-repeat;
      //padding: 15px 0px 13px;
      overflow: hidden;
      line-height: 18px;
    }
    .login-operate{
      padding: 25px;
      .login-opreate-bar{
        width: 350px;
        height: 42px;
        border: 1px solid #ddd;
        margin: 30px 0;
        color: #666;
        input{
          outline: none;
          border: none;
          line-height: 42px;
          width: 240px;
          height: 42px;
        }
        label{
          width: 24px;
          margin:9px;
          height: 24px;
          float: left;
        }
        .login-user-id-des{
          background: url("../img/user.png") no-repeat 50% 50%;
          background-size: contain;
        }
        .login-user-password-des{
          background: url("../img/password_icon.png") no-repeat 50% 50%;
          background-size: contain;
        }
        .recharge-login-btn{
          background-color: #3f89ec;
          width: 350px;
          display: block;
          height: 48px;
          font-size: 16px;
          font-weight: 700;
          cursor: pointer;
          color: #fff;
          border-radius: 3px;
          border: 0;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
        }
      }
    }
  }
}